<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>恋愛面接_タイトル画面</title>
    <%= stylesheet_link_tag 'title', media: 'all', 'data-turbolinks-track': 'reload'%>
</head>

<body>
    <div class="canvas_wrapper_title">

        <div class = "background">
            <canvas id="BackgroundCanvas" width="921px" height="519px" style="background-color: #D9D9D9;"></canvas>
        </div>

        <div class = "gameBackground">
            <canvas id="GameBackgroundCanvas" width="921px" height="519px"></canvas>
        </div>

        <%# <div class = "character">
            <canvas id="CharacterCanvas_title" width="921px" height="519px"></canvas>
        </div> %>

        <div class="message-window">
            <canvas id="MessageWindowCanvas" width="921px" height="519px"></canvas>
            <div class="message-box">メッセージウィンドウ</div>
        </div>

        <%# <div class="input_window_title">

                <form class="input_form" id="InputForm">
                    <input id="message_input" placeholder='返答を記入してください' required>
                    <canvas id="InputWindowCanvas_scene_1" width="921px" height="519px"></canvas>
                </form>

                <form class="clicbutom" id="clicButton">
                    <button id="select_1">選択肢1</button>
                    <button id="select_2">選択肢2</button> 
                </form>
        </div> %>

        <button class="start-button" id="startButton">はじめから</button>

    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            var background_canvas = document.getElementById('BackgroundCanvas');
            var game_background_canvas = document.getElementById('GameBackgroundCanvas');
            var character_canvas = document.getElementById('CharacterCanvas_title');
            var message_window_canvas = document.getElementById('MessageWindowCanvas');
            var input_window_canvas = document.getElementById('InputWindowCanvas_title');
            var input_condition = 0;

            if (background_canvas) {
                var background_ctx = background_canvas.getContext('2d');
            }

            if (game_background_canvas) {
                var game_background_ctx = game_background_canvas.getContext('2d');

                // Canvasのサイズを設定
                game_background_canvas.width = game_background_canvas.offsetWidth;
                game_background_canvas.height = game_background_canvas.offsetHeight;

                // 背景画像を描画
                var game_background_img = new Image();
                game_background_img.src = '<%= asset_path("/title.png") %>';  // 背景画像のパスを指定
                game_background_img.onload = function() {
                    game_background_ctx.drawImage(game_background_img, 136, 26, 648, 365);
                }
            }

            if (message_window_canvas) {
                var message_window_ctx = message_window_canvas.getContext('2d');

                // Canvasのサイズを設定
                message_window_canvas.width = message_window_canvas.offsetWidth;
                message_window_canvas.height = message_window_canvas.offsetHeight;

                // 背景画像を描画
                // var message_window_img = new Image();
                // message_window_img.src = '<%= asset_path("/messagewindow.png") %>';  // 背景画像のパスを指定
                // message_window_img.onload = function() {
                //     message_window_ctx.drawImage(message_window_img, 279, 365, 758, 178);
        
                // }

                var messages = ["恋愛面接", "～恋と内定の行方～"];
                message_window_ctx.fillStyle = "rgb(213, 67, 216)";

                // 各行の位置を計算
                var textHeight = 40; // フォントサイズに合わせて調整
                var lineHeight = textHeight + 10; // 行間を調整

                // テキストの幅を計算し、各行の中心位置を計算
                messages.forEach((message, index) => {
                    if (index === 0){
                        message_window_ctx.font = "80px SeoulNamsan";
                        var textMetrics = message_window_ctx.measureText(message);
                        var textWidth = textMetrics.width;                    
                        var x = 300 
                        var y = 330 - ((messages.length - 1) * lineHeight / 2) + (index * lineHeight) + textHeight / 2;
                    
                        message_window_ctx.fillText(message, x, y);
                    }
                    else if (index === 1){
                        message_window_ctx.font = "48px SeoulNamsan";
                        var textMetrics = message_window_ctx.measureText(message);
                        var textWidth = textMetrics.width;                    
                        var x = 300 - (textWidth / 8);
                        var y = 330 - ((messages.length - 1) * lineHeight / 2) + (index * lineHeight) + textHeight / 2;
                    
                        message_window_ctx.fillText(message, x, y);
                    }
                    
                });

                // document.getElementById('message-input').addEventListener('input', function() {
                //     document.querySelector('.message-box').innerText = this.value || 'メッセージウィンドウ';
                // });
            }

            // if (input_window_canvas) {
            //     var input_window_ctx = input_window_canvas.getContext('2d');

            //     // Canvasのサイズを設定
            //     input_window_canvas.width = input_window_canvas.offsetWidth;
            //     input_window_canvas.height = input_window_canvas.offsetHeight;

            //     // 背景画像を描画
            //     var input_window_img = new Image();
            //     input_window_img.src = '<%= asset_path("/inputwindow.png") %>';  // 背景画像のパスを指定
            //     input_window_img.onload = function() {
            //         input_window_ctx.drawImage(input_window_img, 201, 412);
            //     }
            // }

            startButton.addEventListener('click', () => {
                window.location.href = "/home/scene_1";
            });
        });
    </script>
</body>

</html>
