/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

/* タイトルcss */
.input_window_scene_1 #NameInput {
    position: absolute;
    top: 421px;
    left: 393px;
    width: 500px;
    height: 67px;
    font-size: 16px;
    z-index: 10; 
    background: rgba(238, 238, 238, 1); 
    border: none;
    padding: 10px; 
    box-sizing: border-box;
    text-indent: 0px; 
}

#StartButton {
    position: absolute;
    top: 415px;
    left: 515px;
    width: 231px;
    height: 79px;
    background-color: rgba(238, 238, 238, 1); 
    border: rgba(238, 238, 238, 1); 
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.canvas_wrapper_scene_1 canvas {
    position: absolute;
    top: 0px;
    left: 180px;
    /* top: 0;
    left: 50%; */
    /* width: 100%;
    height: 100%; */
}   

.input_window_scene_1 #InputWindowCanvas_scene_1 {
    position: absolute;
    /* transform: translateX(-50%); */
    /* top: 418px;
    left: 153px; */
    /* width: 60%;
    height: 70px; */
    /* font-size: 16px;
    z-index: 10;  */
    /* background: rgba(255, 248, 248, 1);  */
    /* border: none;
    padding: 10px; 
    box-sizing: border-box;
    text-indent: 0px;  */
}

.input_window_scene_1 #MessageInput {
    position: absolute;
    top: 421px;
    left: 393px;
    width: 500px;
    height: 67px;
    font-size: 16px;
    z-index: 10; 
    background: rgba(238, 238, 238, 1); 
    border: none;
    padding: 10px; 
    box-sizing: border-box;
    text-indent: 0px; 
}

#target_1 {
    position: absolute;
    top: 550px;
    left: 831px;
    width: 62px;
    height: 38px;
    font-size: 16px;
    z-index: 20; 
    border: none;
    padding: 10px; 
    box-sizing: border-box;
}

#target_2 {
    position: absolute;
    top: 580px;
    left: 831px;
    width: 62px;
    height: 38px;
    font-size: 16px;
    z-index: 20; 
    border: none;
    padding: 10px; 
    box-sizing: border-box;
}

#target_3 {
    position: absolute;
    top: 610px;
    left: 831px;
    width: 62px;
    height: 38px;
    font-size: 16px;
    z-index: 20; 
    border: none;
    padding: 10px; 
    box-sizing: border-box;
}

/* #target_4 {
    position: absolute;
    top: 690px;
    left: 831px;
    width: 62px;
    height: 38px;
    font-size: 16px;
    z-index: 20; 
    border: none;
    padding: 10px; 
    box-sizing: border-box;
} */

#Select1 {
    position: absolute;
    top: 415px;
    left: 357px;
    width: 231px;
    height: 79px;
    background-color: rgba(238, 238, 238, 1); 
    border: rgba(238, 238, 238, 1); 
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#Select2 {
    position: absolute;
    top: 415px;
    left: 695px;
    width: 231px;
    height: 79px;
    background-color: rgba(238, 238, 238, 1); 
    border: rgba(238, 238, 238, 1); 
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}


